*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-500: #06b6d4;
    --letter-spacing: 0.1rem;
}


body {
    background: #eee;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #222;
}

.section-center {
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 30rem;
    background: #fff;
    border-radius: 0.25rem;
    padding: 2rem;
    position: relative;
}